// -------------------------

//Dulux 1

$whiteBlossom: #f6e9de !default;
// Blue 32
// -------------------------

//Defaults

$blue: #0066ff !default;
$blueDark: #003d99 !default;
$blueDarker: #002966 !default;
$blueLight: #4d94ff !default;
$blueLighter: #80b2ff !default;
$blueDull: #0066cc !default;
$blueDuller: #336699 !default;
$blueBright: #3399ff !default;
$blueBrighter: #70b8ff !default;

//Variations

$blueAirforce: #5d8aa8 !default;
$blueAzure: #007fff !default;
$blueBaby: #89cff0 !default;
$blueFrench: #318ce7 !default;
$blueCeleste: #b2ffff !default;
$blueColumbia: #75b2dd !default;
$blueSky: #73c2fb !default;
$blueMidnight: #191970 !default;
// Gray 10
// -------------------------

$grayAsh: #b2beb5 !default;
$grayBattleship: #848482 !default;
$grayCadet: #91a3b0 !default;
$grayCharcoal: #36454f !default;
$grayCool: #8c92ac !default;
$grayGunmetal: #423732 !default;
$graySilver: #c0c0c0 !default;
$graySlate: #708090 !default;
$grayTaupe: #8b8589 !default;
$grayTimberwolf: #dbd7d2 !default;
$whiteAntiflash: #f2f3f4 !default;
$whiteAntique: #faebd7 !default;
$whiteBeige: #f5f5dc !default;
$whiteBlond: #faf0be !default;
$whiteCornsilk: #fff8dc !default;
$whiteCosmic: #fff8e7 !default;
$whiteCream: #fffdd0 !default;
$whiteEggshell: #f0ead6 !default;
$whiteFloral: #fffaf0 !default;
$whiteHoneydew: #f0fff0 !default;
$whiteIsabelline: #f4f0ec !default;
$whiteNavajo: #ffdead !default;
$whitePearl: #eae0c8 !default;
$whiteVanilla: #f3e5ab !default;
$whiteSmoke: #f5f5f5 !default;

// * * * Premium * * *
// -------------------------

//Dulux 1

$whiteBlossom: #f6e9de !default;
// Preboot Colours http://getpreboot.com/
// -------------------------

//Blacks 9

$black10: #e6e6e6 !default;
$black20: #cccccc !default;
$black30: #b3b3b3 !default;
$black40: #999999 !default;
$black50: #808080 !default;
$black60: #666666 !default;
$black70: #4d4d4d !default;
$black80: #333333 !default;
$black90: #191919 !default;

//Colours 5

$bluePrimary: #428bca !default;
$greenSuccess: #5cb85c !default;
$yellowWarning: #f0ad4e !default;
$redDanger: #d9534f !default;
$blueInfo: #5bc0de !default;
$global-radius: '5px';
$body-font-color: #fff;
$dark-gray: #8b8589;
$alert-color: #ff0000;
$warning-color: #ff6600;
